.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: ;
}


    .row > div {
        margin-bottom: 20px; 
        width: calc(25% - 20px); 
        margin-right: 20px; 
        border-radius: 20px ;
    
    }
    
    .row > div:last-child {
        margin-right: 0; /* Remove margin-right for the last column in each row */
    }
    

     @media only screen and (max-width: 768px){
        .row > div {
            margin-bottom: 20px; 
            width: calc(50% - 20px); 
            border-radius: 20px; 
        }
    }
    @media only screen and (max-width: 600px){
        .row > div {
            border: 1px solid black; 
            border-radius: 0%;
            width: 100%;
        }
    }
     